<%= form_for(@product) do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
<h2>Ошибки, которые помешали записи:</h2>
<ol>
<% @product.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ol>
</div>
<% end %>

<div class="field">
<%= f.label :Наименование %><br />
<%= f.text_field :title %>
<div>
<div class="field">
<%= f.label :Описание %><br />
<%= f.text_area :description, :rows => 6 %>
</div>
<div class="field">
<%= f.label :Картинкa_url %><br />
<%= f.text_field :image_url %>
</div>
<div class="field">
<%= f.label :Цена %><br />
<%= f.text_field :price %>
</div>
<div class="actions">
<%= f.submit :Создать %>
</div>
<% end %>