<div id="product_list">
<h1>Список товаров</h1>
<table>
<% @products.each do |product| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td class="imagetd">
<%= image_tag(product.image_url, :class => 'list_image') %>
</td>

<td class="list_description">
<dl>
<dt><%= product.title %></dt>
<dd><%= truncate(strip_tags(product.description),
:length => 80) %></dd>
</dl>
</td>

<td class="list_actions">
<%= link_to(product, :id => "alink") do %> <div id = "linkbg">Подробнее</div> <% end %><br/>
<%= link_to(edit_product_path(product), :id => "alink") do %> <div id = "linkbg">Править</div>  <% end %><br/>
<%= link_to(product, :confirm => 'Вы уверены?', :method => :delete, :id => "alink") do %> <div id = "linkbg">Удалить</div> <% end %>

</td>
</tr>
<% end %>
</table>
</div>
<br />
<%= link_to(new_product_path, :id => "alink") do %> <div id = "link_anbg">Добавить продукт</div><% end %>  